<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="resources" type="Devart.Shell.AssembliesConfigSection, Devart.Shell.Common" />
    <section name="mefModules" type="Devart.Shell.AssembliesConfigSection, Devart.Shell.Common" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" />
  </startup>

  <appSettings>
    <add key="id" value="59F90733-4D68-4FDF-82A7-F0FCBF5460AA" />
    <add key="LocalizedPerfCounter" value="false" />
    <add key="culture" value="en-US"/>
  </appSettings>

  <resources>
    <assemblies>
      <assembly name="Devart.Shell.Resources"/>
      <assembly name="Devart.DbForge.Resources"/>
      <assembly name="Devart.DbForge.Resources.MySql"/>
    </assemblies>
  </resources>

  <mefModules>
    <assemblies>
      <assembly name="Devart.Shell.TextEditor" />
      <assembly name="Devart.Shell.Studio" />

      <assembly name="Devart.DbForge.Ad" />
      <assembly name="Devart.DbForge.ScriptSupport" />
      <assembly name="Devart.DbForge.Repository" />
      <assembly name="Devart.DbForge.Repository.MySql" />
      <assembly name="Devart.DbForge.LanguageService" />
      <assembly name="Devart.DbForge.LanguageService.MySql" />
      <assembly name="Devart.DbForge.Compare" />
      <assembly name="Devart.DbForge.Compare.MySql" />
      <assembly name="Devart.DbForge.DbEditors" />
      <assembly name="Devart.DbForge.DbEditors.MySql" />
      <assembly name="Devart.DbForge.DbObjectsUI" />
      <assembly name="Devart.DbForge.DbObjectsUI.MySql" />
      <assembly name="Devart.DbForge.Debugger" />
      <assembly name="Devart.DbForge.Debugger.MySql" />
      <assembly name="Devart.DbForge.DeclarationRepository" />
      <assembly name="Devart.DbForge.DeclarationRepository.MySql" />
      <assembly name="Devart.DbForge.DataEditor" />
      <assembly name="Devart.DbForge.DataEditor.MySql" />
      <assembly name="Devart.DbForge.SqlComplete" />
      <assembly name="Devart.DbForge.SqlComplete.MySql" />
      <assembly name="Devart.DbForge.DataGeneration" />
      <assembly name="Devart.DbForge.DataGeneration.MySql" />
      <assembly name="Devart.DbForge.Diagramming" />
      <assembly name="Devart.DbForge.DatabaseDiagram" />
      <assembly name="Devart.DbForge.DatabaseDiagram.MySql" />
      <assembly name="Devart.DbForge.SecurityManager" />
      <assembly name="Devart.DbForge.SecurityManager.MySql" />
      <assembly name="Devart.DbForge.DataExportImport" />
      <assembly name="Devart.DbForge.DataExportImport.MySql" />


      <assembly name="Devart.DbForge.CodeAnalysis" />
      <assembly name="Devart.DbForge.CommonServices" />
      <assembly name="Devart.DbForge.ObjectExplorer" />
      <assembly name="Devart.DbForge.ExecutionHistory" />
      <assembly name="Devart.DbForge.QueryBuilder" />
      <assembly name="Devart.DbForge.DataReport" />
      <assembly name="Devart.DbForge.PivotGrid" />
      <assembly name="Devart.DbForge.MasterDetail" />
      <assembly name="Devart.DbForge.TextComparer" />
      <assembly name="Devart.DbForge.Provider" />

      <assembly name="Devart.DbForge.DbObjectModels.MySql" />
      <assembly name="Devart.DbForge.DbObjectModels.Controllers" />
      <assembly name="Devart.DbForge.DbObjectModels.Controllers.MySql" />
      <assembly name="Devart.DbForge.SessionManager" />
      <assembly name="Devart.DbForge.SessionManager.MySql" />
      <assembly name="Devart.DbForge.SchemaTools" />
      <assembly name="Devart.DbForge.SchemaTools.MySql" />
      <assembly name="Devart.DbForge.SqlSearch.MySql" />
      <assembly name="Devart.DbForge.MySql" />
      <assembly name="Devart.DbForge.DbObjectControllers.MySql" />
      <assembly name="Devart.DbForge.DbObjects.MySql" />
      <assembly name="Devart.DbForge.Documenter.MySql" />
      <assembly name="Devart.DbForge.QueryProfiler.MySql" />
      <assembly name="dbforgemysql" />

      <assembly name="Devart.DbForge.ExecutionWarnings" />
      <assembly name="Devart.DbForge.ExecutionWarnings.MySql" />

      <assembly name="Devart.DbForge.ProjectSupport"/>
      <assembly name="Devart.DbForge.ProjectSupport.MySql"/>
    </assemblies>
  </mefModules>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
